* {
	box-sizing: border-box;
	color: #fff;
}

body {
	background-color: black;
	width: 1500px;
	height:1000px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	line-height: 40px;
}

#ENTER {
	text-align: center;
}

.newheight {
	height: 35%;
}

.logo {
	width: 553px;
	height: 538px;
	margin: 0 auto;
}

.small-logo {
	width: 221.2px;
	height: 215.2px;
}

.rotatelogo {
	-webkit-animation-name: logorotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
	animation-name: logorotate;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

#enter-btn, #reset, #submit {
	font-family: 'Oswald', sans-serif;
	display: inline;
	border-width: 3px;
	border-radius: 5px;
	background-color: #000;
	width: 150px;
	height: 75px;
}

#enter-btn {
	font-size: 2em;
	margin-top: 25px;
}

#reset, #submit {
	font-size: 1em;
}

#enter-btn:active, #enter-btn:focus, #submit:active, #submit:focus, #reset:active, #reset:focus {
	outline: none;
}

.quiz, .intro {
	margin: 0px 100px 100px;
}

.intro > img {
	display: block;
	margin: 20px auto;
}

.quiz {
	position: relative;
	display: block;
}

.intro, .action {
	font-size: 1.5em;
}

.action {
	width: 50%;
	height: 500px;
}

.question {
	margin-bottom: 30px;
}

#submit {
	margin-top: 30px;
}

.messagebox, #score{
	width: 60%;
	height: 80px;
	border-radius: 5px;
	border-width: 3px;
	box-shadow: inset 0 0 10px #fff;
	position: absolute;
	margin-top: 20px;
	text-align: center;
	vertical-align: middle;
}

#score {
	outline: red;
	margin-top: 120px;
}

.quiz > img {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.quiz > ul {
	display: inline-block;
	position: absolute;
	width: 80%;
	top: 0;
	left: 0;
}


/*--------------------------Keyframes--------------------------------*/
@-webkit-keyframes logorotate {
	from  { -webkit-transform: translateY(0px) scale(1);}
	to    { -webkit-transform: translateY(-150px) scale(.4);}
}

@keyframes logorotate {
	from  { transform: translateY(0px) scale(1);}
	to    { transform: translateY(-150px) scale(.4);}
}


